@page
@model Silas.Web.Views.Clientes.IndexModel


<head>

    @*<style>
        body {
            font-family: tahoma,arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #eef0f8;
        }

        #principal {
            margin: 5px 50px 50px -150px;
        }

        h2 {
            font-size: 25px;
        }

        p {
            color:white;
            display: block;
            position: static;
            text-align: center;
            font-size: 22px;
            width: 35%;
            background-color: rgb(255, 108, 108);
            border-radius: 5px;
        }
    </style>*@
</head>

<body>

    <div id="principal">
        <img src="~/novosite/dist/assets/media/logos/Logo_intersec.svg" style="background-color:white; border-radius:50%;  width:200px; height:200px" />
    </div>
    <div>
        
        <p>Cliente cadastrado com sucesso!</p>


    </div>
    <div>
        <a class="float-right col-1 btn btn-bg-dark btn-text-light" href="@Url.Action("Index","Clientes")">Voltar ao início</a>
    </div>
    <div>
        <a class="float-center col-1 btn btn-bg-dark btn-text-light" href="@Url.Action("CadastroCliente","Clientes")">Novo cadastro</a>
    </div>

</body>


