@page
@model Silas.Web.Views.Clientes.IndexModel


<head>

    <style>
        body {
            font-family: tahoma,arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #eef0f8;
            
        }
        #principal {
            margin:5px 50px 50px -150px;
            
        }
        h2{
            
            
            font-size: 25px;
        }
        p{
           
            font-size: 15px;
        }
        

    </style>
</head>

<body>

    <div id="principal">
        <img src="~/novosite/dist/assets/media/logos/Intersec6.png" width="400px" />
    </div>
    <div>
        <h2>
            Seja bem vindo a um novo meio de organizar suas tarefas!
        </h2>
        <p>Aqui você pode, além de ter uma visão mais clara dos seus objetivos, terá a facilidade de organizar da melhor forma para seu desempenho.</p>
    </div>

</body>


