@page
@model Silas.Web.Views.Clientes.IndexModel


<head>
    <link href="/NovoSite/dist/assets/css/Styles.css" rel="stylesheet" type="text/css" />
</head>

<body>

    <div id="principal">
        <img src="~/novosite/dist/assets/media/logos/logo__new.svg" style="margin:0;padding:0;  width:400px; height:400px"  />
    </div>
    <div id="principal-text">
        <h2 style="color: #Ff6060">
            <b>Intersec Solution!</b>
        </h2>
        <p>Você vai ter como organizar suas tarefas de um novo jeito!</p>
        <p>Aqui você vai encontrar, diversas ferramentas para melhorar cada vez mais o desempenho das suas atividades.</p>
    </div>

</body>


