@page
@model Silas.Web.Views.Clientes.IndexModel


<head>

    <style>
        body {
            font-family: tahoma,arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #283566; 
        }
        #principal {
            margin:5px 50px 50px -150px;
        }
        

    </style>
</head>

<body>

    <div id="principal">
        <img src="~/novosite/dist/assets/media/logos/Lanterna3.png" width="500px" />
    </div>

</body>


