@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="text-center">
    <h1 class="display-4">Projeto Agenda 2022</h1>
    <p>Logo a seguir <a href="https://google.com">Entre para pesquisar coisas.</a>.</p>
</div>

